.device__properties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.device__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  background: #3f3f46;
  border-radius: 25px;
}
.icon {
  transform: scale(2);
}
.device__title {
  font-size: large;
  font-weight: 500;
}
.panel__span2 {
  color: azure;
}
.panel__span1 {
  color: rgb(164, 205, 240);
}
.panel__div {
  font-size: 1.5rem;
  font-weight: medium;
}
.panel__icon {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: scale(3);
}
.panel__header {
  color: rgb(164, 205, 240);
  font-size: 1.75rem;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgb(164, 205, 240);
  text-underline-offset: 2px;
}
.panel__header > span {
  color: white !important;
  text-transform: capitalize;
}
.panel__btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: large;
  font-weight: 500;
  z-index: 10;
}
.panel__close {
  display: none !important;
}
